body {
    max-width: 250vh;
    max-height: 1200vh;
    margin: 0;
    background-color: peachpuff;
}

.header {
    background-color: #9cf5bb ;
    padding-bottom: 3vh;
    text-align: center;
    
}
a.menu {
    font-size: 22px;
    text-decoration: none;
    color:#5b6ae0;
    padding-left: 212px;
}


div.setOdeshd {
   display: flex;
}


#picture1,#picture2,#picture3,#picture4,#picture5{
    width: 500px;
    height: 450px;
    margin-top: 12px;
}
p.txt1,p.txt2,p.txt3,p.txt4,p.txt5{
    padding-left: 19vh;
    font-size: 28px;
    color:#aa646d;
}
h1.money1,h1.money2,h1.money3,h1.money4,h1.money5{
    padding-left: 19vh;
    font-size: 38px;
    color:#2a2544;
}

.part2setOdeshd2 {
    display: flex;
}

